.header {
  display: block;
  width: 50%;
  margin: auto;
  padding: 10px 0 10px 0;
  border-color: black;
  border-style: outset;
  margin-top: 20px;
  margin-bottom: 10px;
}

.title {
  margin: auto;
  text-align: center;
}
